<ion-view  ng-form="MyForm" >
  <ion-nav-buttons side="right">
    <button ng-disabled="MyForm.$invalid" ng-click="campaignCtrl.SaveCampaign(campaignCtrl.Campaign)" class="button   button-positive button-icon ion-ios-checkmark-empty">บันทึก</button>
    <button ng-disabled="!campaignCtrl.Campaign._id" style="padding-left:20px" ng-click="RemoveCampaign(campaignCtrl.Campaign)" class="button   button-positive button-icon  ion-ios-close-empty">ลบ</button>
 
  </ion-nav-buttons>
 

  <ion-content delegate-handle="chatScroll">
    <div class="list" ng-show="campaignCtrl.Campaign && campaignCtrl.Campaign.Status">
      <div class="row responsive-sm">
        <div class="col">

          <label class=" item-input  item-stacked-label">
    <span class="input-label">ชื่อแคมเปญ<font class="require">*</font></span>
    <input type="text" placeholder="ชื่อแคมเปญ" ng-model="campaignCtrl.Campaign.CampaignName" required ng-minlength="2">
  </label>

        </div>
        <div class="col">

          <label class=" item-input item-stacked-label">
    <span class="input-label">รหัสแคมเปญ<font class="require">*</font></span>
    <input type="text" placeholder="รหัสแคมเปญ" ng-model="campaignCtrl.Campaign.CampaignCode" required ng-minlength="2">
  </label>

        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <label class=" item-input  item-stacked-label">
    <span class="input-label">วันที่เริ่ม</span>
 
  <label type="text"    class="input "  ng-click="campaignCtrl.OpenStartDatePicker(data)"  required >{{ campaignCtrl.Campaign.StartDate | date:'dd/MM/yyyy' }}</label> 
  </label>

        </div>
        <div class="col">
          <label class=" item-input item-stacked-label">
    <span class="input-label">วันที่สิ้นสุด</span>
    <label type="text"   required class="input "  ng-click="OpenEndDatePicker()"  >{{ campaignCtrl.Campaign.EndDate | date:'dd/MM/yyyy' }}</label>
  </label>

        </div>
      </div>
      <div class="row  ">
        <div class="col">

          <label class=" item-input  item-stacked-label">
    <span class="input-label">URL</span>
    <input type="text"  ng-model="campaignCtrl.Campaign.URL">
  </label>
        </div>
      </div>
    </div>


    <div ng-repeat=" media in  campaignCtrl.Campaign.Medias track by $index " class=" row responsive-sm" ng-if=" $index % 2 == 0">
      <div class=" col-50" ng-repeat=" card in [campaignCtrl.Campaign.Medias[$index], campaignCtrl.Campaign.Medias[$index+1]]">

        <div class="card" ng-if=" card == null">
          <div class="item item-divider">
            <button ng-click="campaignCtrl.NewMedia(campaignCtrl.Campaign)" class="button button-clear button-positive button-icon ion-ios-compose-outline">เพิ่มช่องทาง</button>
          </div>

        </div>

        <div class="card" ng-if=" card != null">
          <div class="item item-divider">

            <div class="row  ">
              <div class="col">
                <button ng-click="SelectMedia(campaignCtrl,campaignCtrl.Campaign,card,$index)" style="font-weight:700" class="  button-positive button-icon ion-ios-arrow-down">{{card.MediaCode?card.MediaCode:"ระบุช่องทาง"}}</button>
              </div>
              <div class="col">

                Budget

              </div>
              <div class="col">

                Actual
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">

            <div class="row  ">
              <div class="col"><span class=" ">Expense</span></div>
              <div class="col"><input type="number" ng-model="card.BudgetExpense" class="SCNumber10"></div>
              <div class="col"><input type="number" ng-model="card.ActualExpense" class="SCNumber10" ng-show="false"></div>
            </div>
            <div class="row  ">
              <div class="col"><span class=" ">Web Visit</span></div>
              <div class="col"><input type="number" ng-model="card.BudgetVisit" class="SCNumber10"></div>
              <div class="col"><input type="number" ng-model="card.ActualVisit" class="SCNumber10" readonly></div>
            </div>
            <div class="row  ">
              <div class="col">
                <span class="">Web Goal</span>
              </div>
              <div class="col">

                <input type="number" ng-model="card.BudgetGoal" class="SCNumber10">

              </div>
              <div class="col">

                <input type="number" ng-model="card.ActualGoal" class="SCNumber10" readonly>

              </div>

            </div>
            <div class="row  ">
              <div class="col">
                <label class=" item-input  item-stacked-label" style="padding:0px">
    <span class="input-label">Description</span>
    <input type="text"  ng-model="card.Description">
  </label>

              </div>

            </div>
          </div>


        </div>




      </div>


    </div>
     
          <div ng-show=" !campaignCtrl.Campaign.Medias || campaignCtrl.Campaign.Medias.length % 2 == 0 " class=" row responsive-sm">
      <div class=" col-50">

        <div class="card">
          <div class="item item-divider">
            <button ng-click="campaignCtrl.NewMedia(campaignCtrl.Campaign)" class="button button-clear button-positive button-icon ion-ios-compose-outline">เพิ่มช่องทาง</button>

          </div>
        </div>
      </div>
    </div>





  </ion-content>
</ion-view>