<ion-view  has-header="true" hide-nav-bar="false"  ng-form="MyForm" >
  <ion-nav-buttons side="right">
    <button ng-disabled="MyForm.$invalid" ng-click="mediaCtrl.SaveMedia(mediaCtrl.Media)" class="button   button-positive button-icon ion-ios-checkmark-empty">บันทึก</button>
    <button ng-disabled="!mediaCtrl.Media._id" style="padding-left:20px" ng-click="RemoveMedia(mediaCtrl.Media)" class="button   button-positive button-icon  ion-ios-close-empty">ลบ</button>
 
  </ion-nav-buttons>
  <!--<ion-nav-buttons side="left">
    <a href="#/tab/campaigns" class="button button-clear button-positive button-icon ion-ios-arrow-back">รายการช่องทาง</a> 
      </ion-nav-buttons>-->

  <ion-content delegate-handle="chatScroll">

    <div >
  
    <div class="list" ng-show="mediaCtrl.Media && mediaCtrl.Media.Status">
      <div class="row responsive-sm">
        <div class="col">
          <label class=" item-input  item-stacked-label">
    <span class="input-label">ชื่อช่องทาง <font class="require">*</font> </span>
    <input type="text" placeholder="ชื่อช่องทาง" ng-model="mediaCtrl.Media.MediaName" required ng-minlength="5">
  </label>

        </div>
        <div class="col">

          <label class=" item-input item-stacked-label">
    <span class="input-label">รหัสช่องทาง <font class="require">*</font></span>
    <input type="text" placeholder="รหัสช่องทาง" ng-model="mediaCtrl.Media.MediaCode" required ng-minlength="2">
  </label>

        </div>
      </div>
 
      <div class="row  ">
        <div class="col">

          <label class=" item-input  item-stacked-label">
    <span class="input-label">หมายเหตุ</span>
    <input type="text"  ng-model="mediaCtrl.Media.Remark">
  </label>
        </div>
      </div>
    </div>

 
 


    </div>
  </ion-content>
</ion-view>