<ion-view title="รายงาน">


  <ion-content delegate-handle="chatScroll">



    <div class=" row responsive-sm">
      <div class=" col-50">
        <div class="card">
          <div class="item item-divider">
            ต้นทุน (บาทต่อ Visit / Goal)
          </div>
          <div class="item item-text-wrap">


            <canvas id="line" class="chart chart-bar" chart-data="datas" chart-labels="labels" chart-legend="true" chart-options="optionsBar"
              chart-series="series"></canvas>

          </div>
        </div>
      </div>
      <div class=" col-50">
        <div class="card">
          <div class="item item-divider">
            ยอดผู้เข้าเว็บแยกตามสื่อ
          </div>
          <div class="item item-text-wrap">
            <canvas id="pie" class="chart chart-pie" chart-data="VisitByMedia" chart-labels="labels" chart-options="option2"
              chart-legend="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>
 
  </ion-content>
</ion-view>