<ion-view title="รายงาน">


  <ion-content delegate-handle="chatScroll">



    <div class=" row responsive-sm">
      <div class=" col-50">
        <div class="card">
          <div class="item item-divider">
           Cost Per  Traffic
          </div>
          <div class="item item-text-wrap">
           <canvas id="bar" class="chart chart-bar" chart-data="visitDatas" chart-labels="labels" chart-legend="false" chart-options="optionBar1"
               ></canvas> 

          </div>
        </div>
      </div>
      <div class=" col-50">
        <div class="card">
          <div class="item item-divider">
           Cost Per  Goal
          </div>
          <div class="item item-text-wrap">


            <canvas id="line" class="chart chart-bar" chart-data="goalDatas" chart-labels="labels" chart-legend="false" chart-options="optionBar1"
               ></canvas>

          </div>
        </div>
      </div>     
          </div>
               <div class=" row responsive-sm">
      <div class=" col-50">
        <div class="card">
          <div class="item item-divider">
            Traffic by Media
          </div>
          <div class="item item-text-wrap">
            <canvas id="pie" class="chart chart-pie" chart-data="VisitByMedia" chart-labels="labels" chart-options="option2"
              chart-legend="true">
            </canvas>
          </div>
        </div>
      </div>
    </div>
 
  </ion-content>
</ion-view>