
<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive"  >
  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/home">
    <ion-nav-view name="tab-home"  ></ion-nav-view>
  </ion-tab>
   <ion-tab title="แคมเปญ" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/tab/campaigns/m/">
    <ion-nav-view name="tab-campaigns"  ></ion-nav-view>
  </ion-tab>

 
  <ion-tab title="รายงาน" icon-on="ion-ios-pie" icon-off="ion-ios-pie-outline" href="#/tab/reports">
    <ion-nav-view name="tab-reports"></ion-nav-view>
  </ion-tab> 
  
  <!--<ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>-->


 
  <ion-tab title="ช่องทาง" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/medias/detail/">
    <ion-nav-view name="tab-medias"></ion-nav-view>
  </ion-tab>   

<!-- 
  <ion-tab title="Test" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/test">
    <ion-nav-view name="tab-test"></ion-nav-view>
  </ion-tab>  -->

  <ion-tab title="ตั้งค่า" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>